In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
from bs4 import BeautifulSoup
import requests
import re

# import sleep
from time import sleep

In [4]:
baseurl = "https://www.seek.com.au/machine-learning-jobs/in-All-Australia/full-time"
def extract(baseurl):
    
    headers={'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/106.0.0.0 Safari/537.36'}
    #baseurl = "https://www.seek.com.au/machine-learning-jobs/in-All-Sydney-NSW/full-time?page={start}"
    response = requests.get(baseurl)
    html = response.text
    soup = BeautifulSoup(html, 'html.parser')
    return soup

def pages(soup):
    page=soup.find('ul',class_='yvsb870 yvsb873 _14uh99456 _14uh994em')
    if not page.find('li',{"data-automation":"page-58"}):
        url='https://www.seek.com.au' + str(page.find('li',class_='yvsb870 _14uh9944q _14uh9944v _14uh9948b').find('a')['href'])
        return url #yvsb870 _14uh9948b
    else:
        return 

def get_job_summary(soup):
    #yvsb870 yvsb871 h3f08h1 _14uh9946i _14uh9947i _14uh9949m _14uh9948m _14uh9945a
    #yvsb870 yvsb871 h3f08h1 _14uh9946i _14uh9947i _14uh9949m _14uh9948m _14uh9945a h3f08h5
    divs=soup.find_all('article',{'data-automation':"normalJob"})
    for item in divs:
        jobD = item.find('span', {'data-automation':'jobShortDescription'})
        if (jobD is None):
                jobD='NA'
        else:
                jobD= jobD.text
               
        job_title = item.find('a', {'data-automation':'jobTitle'})
        if (job_title is None):
                job_title='NA'
        else:
                job_title = job_title.text
                
        job_salary = item.find('span', {'data-automation':'jobSalary'})
        if (job_salary is None):
            job_salary = 'NA'
        else:
            job_salary = job_salary.text
         
        job_company = item.find('a', {'data-automation':'jobCompany'})
        if (job_company is None):
            job_company = 'NA'
        else:
            job_company = job_company.text
        #print(job_company)
        
            
        job_loc = item.find('a', {'data-automation':'jobLocation'})
        if (job_loc is None):
            job_loc = 'NA'
        else:
            job_loc = job_loc.text
        
        job_clas = item.find('a', {'data-automation':'jobClassification'})
        if (job_clas is None):
            job_clas = 'NA'
        else:
            job_clas = job_clas.text
            
            
        date=item.find('span',{"data-automation":"jobListingDate"})
        if(date is None):
            date='NA'
        else:
            date=date.text
        job={ 'description':jobD,
            'title':job_title,
            'salary':job_salary,
            'company': job_company,
            'location':job_loc,
            'class':job_clas,
            'days_before':date
            
        }
        joblist.append(job)
    return
    

joblist=[]
  
        
    
for i in range(1,27):
    print(f'getting page,{i}')
    soup= extract(baseurl)   
    baseurl=pages(soup)
    if not baseurl:
        break
    
    get_job_summary(soup)
    
#print(len(job_company))    
df=pd.DataFrame(joblist)
#print(df.company)
#print(df.shape)

df.to_csv('australia.csv')

getting page,1
getting page,2
getting page,3
getting page,4
getting page,5
getting page,6
getting page,7
getting page,8
getting page,9
getting page,10
getting page,11
getting page,12
getting page,13
getting page,14
getting page,15
getting page,16
getting page,17
getting page,18
getting page,19
getting page,20
getting page,21
getting page,22
getting page,23
getting page,24
getting page,25
getting page,26

In [6]:
df.shape

(520, 7)

In [7]:
df.head()

,description,title,salary,company,location,class,days_before
0,Cutting edge technology - Flexible Working Con...,Machine Learning Engineer,NA,Intelligen Pty Ltd,Sydney NSW,Information & Communication Technology,5d ago
1,Join a fantastic team within a challenging env...,Senior Machine Learning Engineer,Up to $190k + super,Correlate Resources,Melbourne VIC,Information & Communication Technology,4d ago
2,Join a fantastic team within a challenging env...,Senior Machine Learning Engineer,Up to $190k + super,Correlate Resources,Sydney NSW,Information & Communication Technology,4d ago
3,Incredible Team - Big Data - Flexible Working ...,Senior Machine Learning Engineer,NA,Intelligen Pty Ltd,Sydney NSW,Information & Communication Technology,5d ago
4,Join our Risk Technology team as a Data Scient...,Data Scientist,Salary commensurate to experience,Macquarie Group Limited,Sydney NSW,Information & Communication Technology,4d ago